{% extends 'base.html' %}

{% block content %}
<h2>我的日誌</h2>
<table>
    <tr>
        <th><i class="fas fa-clock"></i>時間</th>
        <th>項目</th>
        <th>操作</th>
    </tr>
    {% for journal in journal_list %}
    <tr>
        <td>{{ journal.created|date:"l" }}{{ journal.created }}</td>
        <td><a href="{{ journal.id }}/update/">{{ journal.content }}</td>
        <td>
        {% if user.is_authenticated %}
        <a class="btn btn-danger" href="{{ journal.id }}/delete/"><i class="fas fa-trash-alt"></i>刪除</a>
        {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% include 'page.html' %}
{% endblock %}