<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>個人數位助理</title>
    <script src="https://kit.fontawesome.com/a8b04a0c81.js"></script>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <a class="navbar-brand" href="/">個人數位助理</a>
        <ul class="navbar-nav mr-auto">
          <li class="btn-item btn-dark btn-sm"><a class="nav-link" href="/journal/"><i class="fas fa-book"></i>日誌列表</a>
          <li class="btn-item btn-dark btn-sm"><a class="nav-link" href="/journal/create/"><i class="fas fa-book"></i>寫日誌</a>
          <li class="btn-item btn-dark btn-sm"><a class="nav-link" href="{% url 'expense_list' %}"><i class="fas fa-wallet"></i>支出列表</a>
          <li class="btn-item btn-dark btn-sm"><a class="nav-link"  href="{% url 'expense_create' %}"><i class="fas fa-wallet"></i>新增支出</a>
          {% if user.is_authenticated %}
            <li><i class="fas fa-user"></i>{{ user.username }} <a class="btn-item btn-dark btn-sm" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>登出</a>
          {% else %}
            <li class="btn-item btn-dark btn-sm"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user-alt-slash"></i>登入</a>
          {% endif %}
        </ul>
    </nav>
  <h1>數位助理</h1>
  <div>{% block content %}{% endblock %}</div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>